@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;800&display=swap");

html,
body,
#root,
.board-layout {
  height: 100%;
}
body {
  background-color: #202124;
  color: white;
  font-family: "Barlow", sans-serif;
  margin: 0;
}

a {
  color: white;
}

.logo {
  font-weight: 800;
  display: inline-block;
  position: fixed;
  padding-left: 16px;
}

.loading {
  /* min-width: 1024px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.logo a:link,
.logo a:visited,
.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.board-layout,
.board-layout > div {
  display: flex;
}
.board-layout > div:first-child {
  min-width: 1024px;
}
.board-layout > div:last-child {
  flex: 1;
}

.page {
  padding-top: 100px;
}

.chat {
  background-color: white;
  flex: 1;
  color: #111;
  padding: 16px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.chat .content {
  border-top: #111 1px solid;
  padding-top: 16px;
  flex: 1;
}

.chat .input {
  display: flex;
}

.chat .input input {
  flex: 1;
  padding: 8px;
  font-size: large;
}
