name: "ArtBoards example: Build and deploy main branch"
on:
  push:
    paths:
      - examples/art-boards/**
    branches:
      - main
  if: "!contains(github.event.head_commit.message, 'chore: version example')"

permissions:
  contents: write

defaults:
  run:
    working-directory: examples/art-boards

jobs:
  changed:
    runs-on: ubuntu-latest
    outputs:
      workspaces: ${{ steps.set-workspaces.outputs.workspaces }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash
      - name: "Micro-frontends changed"
        run: npx lerna changed
      - id: set-workspaces
        run:
          echo "::set-output name=workspaces::$(npx lerna changed --loglevel=silent
          | jq -R -s -c 'split("\n")[:-1]')"

  lint:
    needs: [changed]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        workspace: ${{fromJson(needs.changed.outputs.workspaces)}}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node LTS and yarn cache
        uses: actions/setup-node@v2
        with:
          cache: yarn
          check-latest: true
          node-version: 16
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash
      - name: Lint
        run: lerna run lint --scope ${{ matrix.workspace }}

  test:
    needs: [changed]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        workspace: ${{fromJson(needs.changed.outputs.workspaces)}}
    name: ${{ matrix.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node LTS and yarn cache
        uses: actions/setup-node@v2
        with:
          cache: yarn
          check-latest: true
          node-version: 16
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash
      - name: Test
        run: lerna run test --scope ${{ matrix.workspace }}

  version:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore: version example')"
    needs: [test, lint]
    outputs:
      ref: ${{ steps.set-ref.outputs.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash
      - name: Setup Node LTS and yarn cache
        uses: actions/setup-node@v2
        with:
          cache: yarn
          check-latest: true
          node-version: 16
      - name: Configure Git
        run: |
          git --version
          git config --global user.email alex@leanjs.com
          git config --global user.name leanjsbot
          git remote rm origin
          git remote add origin "https://alexlbr:$GITHUB_TOKEN@github.com/leanjs/leanjs.git"
          git push -u origin main
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_GH_TOKEN }}
      - name: Version ${{ matrix.workspace }}
        continue-on-error: false
        run: "HUSKY=0 yarn lerna version --conventional-commits --yes --include-merged-tags --message 'chore: version example'"
        env:
          GH_TOKEN: ${{ secrets.ADMIN_GH_TOKEN }}
      - id: set-ref
        run: echo "::set-output name=ref::$(git rev-parse HEAD)"

  deploy:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore: version example')"
    needs: [changed, version]
    strategy:
      fail-fast: false
      matrix:
        workspace: ${{fromJson(needs.changed.outputs.workspaces)}}
    name: ${{ matrix.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{needs.version.outputs.ref}}
      - name: Setup Node LTS and yarn cache
        uses: actions/setup-node@v2
        with:
          cache: yarn
          check-latest: true
          node-version: 16
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        shell: bash
      - name: Build ${{ matrix.workspace }}
        run: yarn lerna run build --scope ${{ matrix.workspace }}
        env:
          EXAMPLE_ART_BOARDS_BASENAME: ${{ secrets.EXAMPLE_ART_BOARDS_BASENAME }}
          EXAMPLE_ART_BOARDS_ORIGIN: ${{ secrets.EXAMPLE_ART_BOARDS_ORIGIN }}
      - name: Deploy ${{ matrix.workspace }} to AWS
        continue-on-error: false
        run: yarn lerna run deploy --scope ${{ matrix.workspace }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
